<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downlids</title>

    <link rel="stylesheet" href="/static/css/styles.css?v=3.0">
</head>

<body>

    <main class="contenedor">

        <h1>Downlids</h1>
        <p class="subtitulo">
            Descarga videos desde múltiples plataformas.
        </p>

        <section class="busqueda">

            <form id="form-metadatos">

                <select id="plataforma-select" class="select-plataforma" aria-label="Plataforma de video">
                    <option value="youtube" selected>YouTube</option>
                    <option value="tiktok">TikTok</option>
                    <option value="instagram">Instagram</option>
                    <option value="twitch">Twitch</option>
                    <option value="kick">Kick</option>
                    <option value="auto">Auto</option>
                </select>

                <input
                    type="url"
                    id="url"
                    placeholder="Pega aquí el enlace de YouTube..."
                    required
                >

                <button type="submit" class="btn-validarUrl">
                    Obtener información
                </button>

            </form>

            <div id="mensaje" class="mensaje oculto"></div>

        </section>


        <section id="resultado" class="resultado oculto">

            <div class="cabecera-video">

                <img
                    id="miniatura"
                    src=""
                    alt="Miniatura"
                >

                <div class="informacion">

                    <h2 id="titulo"></h2>

                    <p id="autor"></p>

                    <p id="duracion"></p>

                    <p id="vistas"></p>

                    <p id="plataforma"></p>

                </div>

            </div>

            <h3>Formatos disponibles</h3>

            <table>

                <thead>

                    <tr>
                        <th>Calidad</th>
                        <th>Extensión</th>
                        <th>Tipo</th>
                        <th>Tamaño</th>
                        <th>Acción</th>
                    </tr>

                </thead>

                <tbody id="tabla-formatos">

                </tbody>

            </table>

        </section>

    </main>

    
    <script src="/static/js/utilidades.js?v=3.0"></script>
    <script src="/static/js/metadatos.js?v=3.0"></script>
    <script src="/static/js/formatos.js?v=3.0"></script>
    <script src="/static/js/descarga.js?v=3.0"></script>
    <script src="/static/js/app.js?v=3.0"></script>
</body>

</html>